:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  min-height: 90vh;
}

@font-face {
  font-family: Rubik;
  src: url(constants/fonts/Rubik-VariableFont_wght.ttf);
}
